@media (max-width: 480px){

}

h1{
    position: relative;
    text-align: center;
}
.intro { 
    text-align: center;
    margin: 50px;
}

h2{
    position: relative;
    text-align: center;
}
.mission {
    text-align: center;
    margin: 30px;
}
h3{
    position: relative;
    text-align: center;
}
.val{
    text-align: center;
}

