@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Madimi+One&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titre-site,
.navigation-principale a,
.navigation-principale a:hover,
.titre-principal,
.sous-titre,
.bouton,
.pub-point p,
h2,
.bouton-secondaire,
.histoire h3,
.histoire p,
.titre-site-footer,
.navigation-footer a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
