@media (max-width: 500px){
    h1{
    position: relative;
    text-align: center;
}
.intro { 
    text-align: center;
    margin: 50px;
}

h2{
    position: relative;
    text-align: center;
}

.mission {
    text-align: center;
    margin: 30px;
}

h3{
    position: relative;
    text-align: center;
}

.val{
    text-align: center;
}

.partenaires{
    margin-top: 100px;
}

.partenaires img {
    height: 100px;
}

.contact {
    margin-top: 100px;
}

.email {
    text-align: center;
}

.téléphone {
    text-align: center;
}

.adresse {
    text-align: center;
}

#form div {
margin-top: 30px;
margin-left: 200px;
}
}

label {
    display: block; 
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: bold; 
    color: #003B93;
}

input[type="text"],
textarea {
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #003b93af; 
    border-radius: 6px;
    font-size: 6px;
}

button[type="submit"] {
    font-weight: bold; 
    margin-left: 190px;
    background-color: #003b93; 
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 35%;
    margin-top: 20px;
}



