/* Fait par Abdelkader */
/* polices */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Madimi+One&display=swap');

/* variables de theme pour differencier le theme sombre du theme clair*/
:root {
    --color-primaire: #003B93;
    --color-h1: #003B93;
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-bg-prix: #f0f0f0;
    --color-panier :#579affbe;
    --color-bord : #000;
}

body.dark-mode {
    --color-primaire: #e63946;
    --color-h1: #e63946;
    --color-bg: #1a1a1a;
    --color-text: #ffffff;
    --color-bg-prix: #968e8e;
    --color-panier: #e63946;
    --color-bord: #968e8e;
}


/* Body  mode clair */
body .info-produit-obscur,body img.obscur{
    display: none;
}


/* Body  mode obscur */
body.dark-mode .clair, body.dark-mode .info-produit {
    display : none;
}

body.dark-mode .obscur, body.dark-mode .info-produit-obscur {
    display: block;
}


/* styles globaux */
body {
    font-family: 'Madimi One', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.boutique, section h3 {
    font-family: 'Luckiest Guy', cursive;
}

.boutique {
    text-align: center;
    padding: 40px 20px;
    color: var(--color-h1);
    font-size: 3.5rem;
}

/* grille produits */
section {
    max-width: 1000px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

/* fiches produits */
section figure {
    border: 3px solid var(--color-primaire);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section img:first-child, section img:nth-child(2){
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    object-fit: contain;
}



section h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-primaire);
    letter-spacing: 1px;
}

.categorie {
    display: block;
    font-size: 0.9rem;
    color: #666;
    text-align: right;
    margin-top: 5px;
}

.achat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.prix {
    border: 2px solid var(--color-primaire);
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;    
    color: var(--color-primaire);
    border-radius: 5px;
    background-color: var(--color-bg-prix);
}

/* bouton panier */
.icone-panier {
    width: 40px;
    height: 40px;
    cursor: not-allowed;
    background-color: var(--color-panier);
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-bord);    
    border-radius: 5px;
    padding: 5px;
}

/* responsive */
@media (max-width: 600px) {
    section { grid-template-columns: 1fr; }
    .boutique { font-size: 2.5rem; }
}
