@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Madimi+One&display=swap');

@media (max-width: 480px){

    img {
        overflow : scroll
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Luckiest Guy';
        color : #003B93;
    }

    header nav a {
        display : inline ;
        position : relative;
        left : 150px;
        bottom : 45px;
        margin : 20px;
        color : black;
        font-family : 'Madimi One';
        font-size : 20px;
    }

    header img {
        width: 35px;
        position: relative;
    }

    header span {
        left : 0px;
        position : relative;
        font-size: 40px;
        color : #003B93;
        font-family: 'Luckiest Guy';
        bottom : 10px;
    }

    #boutique {
        text-align: center;
        position: relative;
        padding: 40px;
        font-size: 64px;
        color : #003B93;
    }

    img {
        width: 275px;
        top: 10px;
        position: relative;
        left: 20px;
    }

    .mug1 img{
        left : 30px;
    }
    
    h3{
        margin: 25px;
        position: relative;
        padding-bottom : 25px;
        font-size: 36px;
        bottom: 60px;
        margin-left:20px;
    }
    
    .prix {
        font-family: 'Madimi One';
        color: #2c5eaac9;
        position: relative;
        font-size : 36px;
        margin-bottom : 40px;
        left: 15px;
        border: solid;
        border-width: 4px;
        border-color: #003b93c9;
        border-radius: 10px;
        display: inline-block;
        background-color: #c6ddff;
    }
    
    figure {
        position: relative;
        border: solid;
        border-width: 10px;
        border-color: #003b93c9;
        border-radius: 10px;
        display: inline-block;
        margin-left: 50px;
        margin-right: 75px;
        margin-bottom: 25px;
        
    }

    .type {
        color : grey;
        font-size: 15px;
        font-family: 'Madimi One';
        position: relative;
        bottom: 190px;
        padding-left: 10px ;
        margin-bottom: -50px;
    }
    
    
    .panier {
        position: relative;
        width : 50px;
        left: 230px;
        top: 170px;
        border: solid;
        border-width: 4px;
        border-color: #003b93c9;
        border-radius: 10px;
        display: inline-block;
        background-color: #ff3f0fbd;       
    
    }

    .mug1 .panier{
        top : 175px;
        left : 220px;
    }

    .pop .panier  {
        top: 145px;
    }

    .portecle .panier {
        top: 145px;
    }

    .mug2 .panier {
        top: 145px;
    }


}