@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Madimi+One&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Luckiest Guy';
    color : #003B93;
}


#boutique {
    text-align: center;
    position: relative;
    font-size: 64px;
    color : #003B93;
}


h1 {
    position: relative;
    text-align: center;
}

.prix {
    font-family: 'Madimi One';
    color: #2c5eaac9;
    position: relative;
    border: solid;
    border-width: 4px;
    border-color: #003b93c9;
    border-radius: 10px;
    display: inline-block;
    background-color: #c6ddff;
}

figure {
    position: relative;
    border: solid;
    border-width: 10px;
    border-color: #003b93c9;
    border-radius: 10px;
    display: inline-block;
}

.type {
    color : grey;
    font-family: 'Madimi One';
    position: relative;
}


.panier {
    position: absolute;
    width : 50px;
    border: solid;
    border-width: 4px;
    border-color: #1c61c897;
    border-radius: 10px;
    background-color: #ff3f0fbd;

    display: inline-block;
    bottom: 10px;     
    right: 10px;     
    top: initial;
    margin: 0;

}



@media (max-width:480px){

    h1{
        align-items: center;
    }

    header .hamburger-menu {
        position: relative;
        justify-content: right;
    }
    /*
    #boutique {
        padding: 40px;    
    }*/

    img {
        width: 275px;
        top: 10px;
        left: 20px;
    }
    
    h3{
        margin: 25px;
        position: relative;
        padding-bottom : 25px;
        font-size: 36px;
        bottom: 40px;
        margin-left:20px;
    }


    .prix {
        margin-bottom : 40px;
        left: 15px;  
        font-size: 36px;
    }
    

    figure {
        margin-left: 50px;
        margin-right: 75px;
        margin-bottom: 25px;
    }

    .type {
        font-size: 15px;
        margin-left: 10px ;
        top: -150px;
    }
    


}


@media (max-width: 768px) {

    h1{
        align-items: center;
    }

    header .hamburger-menu {
        position: relative;
        justify-content: right;
    }
    /*
    #boutique {
        padding: 40px;    
    }*/

    .produit {
        width: 400px;
        top: 10px;
        left: 20px;
        margin-left: 125px;
    }
    
    h3{
        margin: 25px;
        position: relative;
        padding-bottom : 25px;
        bottom: 40px;
        margin-left:20px;
    }
    
    section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 10px;
    }

    .prix {
        margin-bottom : 40px;
        left: 15px;  
        font-size: 36px;
    }
    
    figure {
        margin-left: 50px;
        margin-right: 75px;
        margin-bottom: 25px;
    }

    .type {
        font-size: 15px;
        margin-left: 10px ;
        top: -150px;
    }
    
/*    
    .panier {
        display: inline-block;
        width : 50px;
        top : 165px;
        margin-left: 200px;
    }
*/


}
