body{
    background-color: rgb(0, 149, 198);
}

h1 , p{
    color : white;
    position: relative;
}
@media (max-width: 480px){

    div h1{
        margin-top : 35px;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .sourire {
        font-size: 100px;
    }
    
    img {
        width: 200px;
    }

    p {
        position: relative;
        bottom: 200px;
        left: 210px;
    }

}


@media (max-width: 800px){

}

@media (min-width: 1000px){
    h1 {
        color : red;
    }

}
